[submodule "biwada-2020-loi-cheng-hw1"]
	path = biwada-2020-loi-cheng-hw1
	url = https://github.com/Harvard-DCE-BIWADA/biwada-2020-loi-cheng-hw1.git
[submodule "biwada-2020-loi-cheng-lab1"]
	path = biwada-2020-loi-cheng-lab1
	url = https://github.com/Harvard-DCE-BIWADA/biwada-2020-loi-cheng-lab1
[submodule "biwada-2020-loi-cheng-lab2"]
	path = biwada-2020-loi-cheng-lab2
	url = https://github.com/Harvard-DCE-BIWADA/biwada-2020-loi-cheng-lab2
[submodule "biwada-2020-loi-cheng-lab3"]
	path = biwada-2020-loi-cheng-lab3
	url = https://github.com/Harvard-DCE-BIWADA/biwada-2020-loi-cheng-lab3
[submodule "biwada-2020-loi-cheng-lab4"]
	path = biwada-2020-loi-cheng-lab4
	url = https://github.com/Harvard-DCE-BIWADA/biwada-2020-loi-cheng-lab4
