{% extends "layout.html" %}

{% block content %}

<section class="content-section">
    <form method="POST" action="/predict">
        <div class="form-group">
            <div class="row">

                {# COLUMN ONE #}

                <div class="col-lg-6">

                    <h1>Rossmann Store Sales Predictor</h1>

                    <p> Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store
                        managers are tasked with predicting their daily sales for up to six weeks in advance. Store
                        sales are influenced by many factors, including promotions, competition, school and state
                        holidays, seasonality, and locality. With thousands of individual managers predicting sales
                        based on their unique circumstances, the accuracy of results can be quite varied.</p>

                    <h1>
                        {% if label %} {{ label }} {% endif %}
                    </h1>

                    <br>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Predict
                    </button>
                    <h2>{{ prediction }}</h2>

                </div>


                {# COLUMN TWO #}

                {# START OF PART 2.2 #}

                <div class="col-lg-auto mx-auto"><br>

                    {# YOUR CODE START HERE#}
                    {# Follow comments further down for all 5 dropdowns #}
                    {#
                    1. create drop-down for "Day_of_the_Week" feature
                    #}

                    <label for="month"><br>Month</label><br>
                    <select class="form-control" id="month_select" name="month_select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>

                    <label for="day_of_the_week"><br>Day of the Week</label><br>
                    <select class="form-control" id="day_select" name="day_select">
                        <option value="1:Monday">Monday</option>
                        <option value="2:Tuesday">Tuesday</option>
                        <option value="3:Wednesday">Wednesday</option>
                        <option value="4:Thursday">Thursday</option>
                        <option value="5:Friday">Friday</option>
                        <option value="6:Saturday">Saturday</option>
                        <option value="7:Sunday">Sunday</option>
                    </select>
                    {#
                    2. create drop-down for "Open" feature
                    #}
                    <label for="open"><br>Open</label>
                    {# <p><small>Mon - Sun | Open = 1 </small></p> #}
                    <select class="form-control" id="open_select" name="open_select">
                        <option value="1:Open">Open</option>
                        <option value="0:Closed">Closed</option>
                    </select>
                    {#
                    3. create drop-down for "Promo" feature
                    #}
                    <label for="promo"><br>Promo</label>
                    <select class="form-control" id="promo_select" name="promo_select">
                        <option value="1:Promo">Promo</option>
                        <option value="2:No Promo">No Promo</option>
                    </select>
                    <p><small>store running a Promo</small></p>

                </div>
                <div class="col-lg-auto mx-auto"><br>
                    {#
                    4. create drop-down for "State Holiday" feature
                    #}
                    <label for="state_holiday"><br>State Holiday</label><br>
                    <select class="form-control" id="state_holiday_select" name="state_holiday_select">
                        <option value="0:None">None</option>
                        <option value="1:Public Holiday">Public Holiday</option>
                        <option value="2:Easter Holiday">Easter Holiday</option>
                        <option value="3:Christmas">Christmas</option>
                    </select>
                    {#
                    5. create drop-down for "School Holiday" feature
                    #}
                    <label for="school_holiday"><br>School Holiday</label>
                    <select class="form-control" id="school_holiday_select" name="school_holiday_select">
                        <option value="0:No Holiday">No Holiday</option>
                        <option value="1:Holiday">Holiday</option>
                    </select>

                    {# END OF PART 2.2 #}

                    <label for="store_num"><br>Store</label><br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Store #</span>
                        </div>
                        <input type="number" name="store_select" value=1 class="form-control"
                               aria-label="With textarea">
                    </div>
                    <h7>please input 1-1115, excluding 291, 622, 879</h7>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}